<!DOCTYPE html>
<!--[if lt IE 7]>	   <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>		   <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>		   <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Thanks, Obama!</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
		<style>
			body {
				padding-top: 50px;
				padding-bottom: 20px;
			}
		</style>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">

	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

	<div class="container">
		<div class="center">
			<h1 style="font-weight: bold;"><span style="color: #B22234;">Thanks</span>, <span style="color: #3C3B6E;">Obama</span>!</h1>
			<h2>A Medicare medical necessity and coverage quiz for healthcare providers</h2>
		</div>
		<hr>

		{% verbatim %}
		<div id="app-area" ng-app="app" ng-controller="MainCtrl" ng-cloak>
			<h3 class="center" ng-show="currentQuestionNum > 0">Question #{{currentQuestionNum}} of {{ numQuestions }}</h3>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="background-image: none; color: black; min-width: 10%;" ng-style="getProgressBarStyle()">
					{{ percentCorrect }}% correct
  				</div>
			</div>
			<div class="center" ng-show="busy">
				<img src="/static/img/loading.gif" alt="Loading...">
			</div>
			<div ng-show="!busy && currentQuestion && !gameOver">
				<p class="lead" ng-bind-html="currentQuestion.question"></p>
				<div ng-repeat="choice in currentQuestion.choices track by $index">
					<span class="glyphicon glyphicon-ok text-success" ng-show="currentQuestion.graded && $index == currentQuestion.answer"></span>
					<span class="glyphicon glyphicon-remove text-danger" ng-show="currentQuestion.graded && !currentQuestion.correct && $index != currentQuestion.answer"></span>
					<input type="radio" name="choices-{{ currentQuestionNum }}" ng-click="setChoice($index)" ng-disabled="currentQuestion.graded"> <span ng-bind-html="choice"></span>
				</div>
				<br>
				<button class="btn btn-primary" ng-click="submitChoice()" ng-show="!gameOver && !currentQuestion.graded">Submit</button>
				<button class="btn btn-success" ng-click="getNextQuestion()" ng-show="!gameOver && currentQuestion.graded">Next</button>
			</div>
			<div class="center" ng-show="gameOver">
				<h2 style="font-size: 40pt;">Your score:</h2>
				<p style="font-size: 80pt;">{{ percentCorrect }}% ({{ letterGrade }})</p>
				<p style="font-size: 50pt;">Skill level: {{ doctorLevel }}</p>

			</div>
		</div>
		{% endverbatim %}

	  <hr>

	  <footer>
		<p>&copy; 2014 <a href="https://www.github.com/kz26">Kevin Zhang</a><br>
		HackIllinois 2014</p>
	  </footer>
	</div> <!-- /container -->		  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>
		<script src="{{ STATIC_URL }}js/main.js"></script>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>
	</body>
</html>
